@import './../../styles/variables.scss';

.chose-location {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-screen) {
    flex-direction: row;
    height: auto;
  }

  .autocomplete {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    @media (min-width: $desktop-screen) {
      gap: 10px;
      height: $blockHeight-desktop;
      width: 50%;
      padding-right: 20px;
    }

    .autocomplete-wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      margin: 10px auto;
      height: 100%;

      .place-list {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 20;
      }

        .li-autocomplete {
          border: 2px solid black;
          background-color: white;
      }

      @media (min-width: $desktop-screen) {
        .place-list {
          position: relative;
          top: 0;
          z-index: 0;
        }
      }
    }
  }

  .google-map-wrapper {
    height: $blockHeight-mobile;
    z-index: 10;

    @media (min-width: $desktop-screen) {
      position: absolute;
      right: 0;
      height: $blockHeight-desktop;
      width: 50%;
      transition: width $transition-map; 

      &:hover {
        width: 100%;
      }
    }
  }
}

.li-autocomplete {
  background-color: #f7f7f7;
  padding: 5px;
  font-size: $sizeS-mobile;
  line-height: $heightS-mobile;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;

  @media (min-width: $desktop-screen) {
    font-size: $sizeS-desktop;
    line-height: $heightS-desktop;
  }
}
