$desktop-screen: 700px;

$primary-background: #F6DE01;
$secondary-background: #00843D;

$primary-text: #000000;
$secondary-text: #939393;
$description-text: #FFFFFF;

$font-family: 'Roboto', sans-serif;

$sizeS-desktop: 14px;
$sizeM-desktop: 18px;
$sizeL-desktop: 20px;

$sizeS-mobile: 12px;
$sizeM-mobile: 14px;
$sizeL-mobile: 16px;

$heightS-desktop: 14px;
$heightM-desktop: 18px;
$heightL-desktop: 20px;

$heightS-mobile: 12px;
$heightM-mobile: 14px;
$heightL-mobile: 16px;

$weight-regular: 400;
$weight-semi-bold: 700;

$transition: 0.3s;
